#offcanvasExample{
    transition: all 0.2s ease-in;
}

.container-box{
    display: flex;
    height: auto;
    height: calc(100vh - 70px);
    margin-top: 70px;
    position: relative;

    .left-content-box{
        width: 100%;
        // background-color: lightcyan;
        padding: 10px;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;
    }
    .right-content-box{
        width: 350px; 
        height: 100%;
        padding: 10px;
        overflow-y: auto;
        background-color: lightgray;
        // f7f8f9
        border-left: 1px solid white;
        position: absolute;
        right: 0;
        transition: all 0.3s ease-in-out;
    }

    .left-content-box.active{
        width: calc(100% - 350px);
    }
    .right-content-box.active{
        right: -350px;
    }
}

.dotteted-divider{
    width: 100%;
    border: 1px dashed gray;
    margin: 35px 0;
    position: relative;
    
    span{
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fcf7f5;
        padding: 0 12px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
}